html, body {
  height: 100%;
}

/* 子页面Content */
.ins-layer {
  position: absolute;
  top: 108px;
  left: 0;
  right: 20px;
  bottom: 84px;
  overflow: hidden;
}

.ins-box {
  position: absolute;
  top: 0;
  left: 0;
  right: -20px;
  bottom: -20px;
  overflow: auto;
  padding: 20px;
}

/* 子页面Content内部 */
.row-spacing {
  margin-bottom: 20px;
}

.item-title {
  display: block;
  line-height: 32px;
  text-indent: 10px;
}

